.fullscreen-overlay {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);

  display: grid;
  justify-content: center;
  grid-template-columns: min(90%, 1200px);
}

.image-overlay-container {
  margin-top: 5%;
}

.project-screenshot {
  width: 100%;
  /* border: 0px solid rgb(219, 219, 219); */
  border-radius: 20px;
}
