.fullscreen-overlay {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.image-overlay-container {
  position: absolute;

  top: 45%;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  width: 100%;
  min-width: 300px;
  padding: 20px;
}

.project-screenshot {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  margin-top: 30px;
  max-height: 90vh;
  border-radius: 20px;

  object-fit: contain;
}
