.projects-container {
  padding: 10px 10px 10px 10px;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, 630px); */

  display: flex;
  flex-flow: row wrap;
  /* max-width: 630px; */

  justify-content: center;
  align-content: center;
  gap: 30px 30px;
}

.project-name {
  font-size: 1.8rem;
}

.project-para {
  padding: 5px;
  text-align: left;
}

.project-info {
  padding: 4px 0 4px 0;
  text-align: left;
  font-size: 0.95rem;
  color: rgb(44, 44, 44);
}

.project-info__label {
  color: rgb(49, 49, 49);
  font-weight: bold;
  padding-right: 5px;
}

.project-info-link {
  color: rgb(44, 44, 44);
}

.project-info-link:hover {
  text-decoration: none;
}

.youtube-embed {
  /* border-radius: 20px; */
  overflow: hidden;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 100%;
}

.youtube-embed__video {
  border-radius: 20px;
  border: 8px solid lightgray;
}

.project-image-container {
  padding: 10px;
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: center;
  gap: 20px;
}

.project-image {
  width: 100%;
  /* height: 202px; */
  height: 202px;
  border: 8px solid lightgray;
  border-radius: 20px;
  object-fit: cover;
}

.project-info-container {
  align-content: center;
}

.project-card {
  padding: 10px 20px 10px 20px;

  border: 1px solid rgb(244, 244, 244);
  border-radius: 20px;

  max-width: 630px;
  flex: 0 1 auto;
  align-self: auto;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  gap: 5px;
}
