.project-info {
  padding: 4px 5px 4px 5px;
  text-align: left;
  font-size: 0.95rem;
  color: rgb(44, 44, 44);
}

.project-info-link {
  color: rgb(44, 44, 44);
  white-space: nowrap;
}

.project-info-link:hover {
  text-decoration: none;
}

.youtube-embed {
  overflow: hidden;

  height: 40vw;
  max-height: 280px;
  min-height: 126px;

  margin-left: auto;
  margin-right: auto;
  padding: 0px 4px 0px 4px;
  margin: 10px 0 4px 0;
  width: 99%;
}

.youtube-embed__video {
  border-radius: 20px;
  border: 8px solid lightgray;
}

.youtube-embed__video:hover {
  border-color: rgb(230, 230, 230);
  opacity: 0.9;
}

.loading-video-container {
  height: 100%;
  align-content: center;
}

.project-image-container {
  padding: 15px 4px 4px 4px;
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: center;
  gap: 20px;
}

.project-image {
  width: 100%;
  height: 202px;
  border: 8px solid lightgray;
  border-radius: 20px;
  object-fit: cover;
}

.project-image:hover {
  border-color: rgb(230, 230, 230);
}

.project-info-container {
  align-content: center;
}

.project-image-link:hover {
  opacity: 0.9;
  cursor: pointer;
}

.project-card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  gap: 5px;
}

@media (max-width: 500px) {
  .project-image,
  .youtube-embed__video {
    border-width: 6px;
  }

  .project-image-container {
    grid-template-columns: auto;
    padding: 13px;
  }

  .project-image {
    width: 100%;
  }

  .project-image-link--final {
    display: none;
  }
}

@media (max-width: 400px) {
  .project-image,
  .youtube-embed__video {
    border-width: 5px;
  }

  .project-image {
    height: 150px;
  }

  .project-image-container {
    padding: 5px;
  }

  .youtube-embed {
    margin-top: 4px;
  }

  .project-info--github {
    display: none;
  }
}
