.about-container {
  margin-top: 5px;
  max-width: 700px;

  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 25px;

  padding: 0 5px 0 5px;
}

.contact-me {
  margin-top: 15px;
  font-size: 1.55rem;
}

.email-address {
  font-weight: bold;
  font-size: 2rem;
}

.about-sub-heading {
  text-align: left;
}

.about-section {
  padding: 0px 10px 0px 10px;
}

.about-info {
  padding: 4px 0 4px 0;
  text-align: left;
}

.about-info--first {
  margin-top: 3px;
}

.read-more-link {
  color: #7e1919;
}

.read-more-link:hover {
  color: #7e1919be;
  cursor: pointer;
}

.read-more-link-p {
  text-align: left;
}

.about-section-responsive {
  display: none;
}

@media (max-width: 600px) {
  .about-container {
    gap: 7px;
  }
}

@media (max-width: 500px) {
  .contact-me {
    margin-top: 10px;
    font-size: 1.4rem;
  }

  .email-address {
    font-weight: bold;
    font-size: 1.6rem;
  }
}

@media (max-width: 400px) {
  .about-container {
    padding: 0;
    gap: 5px;
  }

  .about-section-responsive {
    display: block;
  }

  .about-section-unresponsive {
    display: none;
  }
}
