.about-container {
  padding: 10px 10px 10px 10px;
}

.contact-me {
  margin-top: 15px;
  font-size: 1.2rem;
}

.email-address {
  font-weight: bold;
  font-size: 1.8rem;
}

.grid-paragraph-container {
  display: grid;
  font-size: 0.95rem;
  grid-template-columns: 48% 48%;
  /* gap: 40px; */
  justify-content: space-between;
}
