.contact-me {
  font-size: 1.55rem;
  padding-top: 10px;
}

#contact-section {
  border: 0;
  /* Force on own line */
  flex-basis: 100%;
  max-width: 100%;
}

#contact-section:hover {
  /* Override animation */
  box-shadow: none;
}

.contact-me-link {
  text-decoration: none;
  color: inherit;
}

.contact-me-link:hover {
  color: rgb(75, 75, 75);
}

.email-address {
  font-size: 1.6rem;
}

.about-sub-heading {
  text-align: center;
}

.about-info {
  padding: 4px 4px 4px 4px;
  text-align: left;
}

.about-info--first {
  margin-top: 3px;
}

.read-more-link {
  color: #7e1919;
  padding-left: 5px;
}

.read-more-link:hover {
  color: #7e1919be;
  cursor: pointer;
}

.read-more-link-p {
  text-align: left;
}

.about-section-responsive {
  display: none;
}

@media (max-width: 600px) {
  .about-section-responsive {
    display: block;
  }

  .about-section-unresponsive {
    display: none;
  }
}

@media (max-width: 500px) {
  .email-address {
    font-size: 1.5rem;
  }
}
