.header {
  border-bottom: 1px solid lightgray;

  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  align-items: center;
  justify-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

.nav {
  list-style-type: none;
  font-size: 1.1rem;
  font-weight: bold;

  display: grid;
  grid-template-columns: auto auto auto;
  gap: 35px;
  align-content: center;
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: none;
}
