.header {
  border: 1px solid green;

  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

.header div {
  border: 1px solid red;
}

.nav {
  list-style-type: none;

  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  align-content: center;
}
