#root {
  text-align: center;
}

.main {
  max-width: 2400px;
  padding: 0 10px 10px 10px;

  margin-left: auto;
  margin-right: auto;
}

.sub-heading {
  font-size: 1.8rem;
  text-align: center;
}

.tile-para {
  text-align: left;
  padding: 5px 5px 5px 5px;
}

.label {
  color: rgb(49, 49, 49);
  font-weight: bold;
  padding-right: 5px;
}

.tile-container {
  padding: 10px 20px 20px 20px;

  border: 1px solid rgb(218, 218, 218);
  border-radius: 20px;

  max-width: 630px;
  flex: 0 1 auto;
  align-self: auto;

  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out,
    color 0.25s ease-in-out;
}

.tile-container:hover {
  transform: scale(1.007);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
}

.page-container {
  padding: 20px 10px 10px 10px;

  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  align-content: center;
  gap: 30px 30px;
}

@media (max-width: 1300px) {
  .page-container {
    padding-top: 10px;
    gap: 20px;
  }
}

@media (max-width: 700px) {
  .page-container {
    padding-top: 10px;
  }
}

@media (max-width: 600px) {
  .page-container {
    padding-top: 6px;
    gap: 15px;
  }
}

@media (max-width: 500px) {
  .page-container {
    padding-top: 6px;
  }

  .tile-container {
    padding: 12px 12px 15px 12px;
  }
}

@media (max-width: 400px) {
  .page-container {
    padding: 0px;
    gap: 15px;
  }

  .tile-container {
    padding: 8px 8px 15px 8px;
  }
}
