#root {
  text-align: center;
}

.main {
  max-width: 2400px;
  padding: 10px;

  margin-left: auto;
  margin-right: auto;
}

.sub-heading {
  padding: 5px;
  text-align: left;
}

.grid-para {
  padding: 5px;
  text-align: left;
  text-align: justify;
}
